.logoImg{
    color: white;
    height: 300px;
}

.logoImg:hover ~.cursor{
    transform: scale(3);
}

.cursor{
    width: 80px;
    height: 80px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    color:white;
}

.homepage{
    background-color: #6667AB;;
    height: 100vh;
}

.loginTable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.tableItem{
    padding: 10px;
}

.homeText{
    display: inline-block;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size:50px;
}

.loginBtn{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-right: 10px;
    margin-left: 10px;
    width: 5vw;
    height: 5vh;
    margin: auto;
    margin-bottom: 8px;
}

.signupBtn{
    font-family: 'Bebas Neue', cursive;
    color:white;
    font-size: 50px;
    margin-right: 10px;
    margin: auto;
}

.titlefont{
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    padding-top: 400px;
}

.login{
    position: absolute;
    margin: auto;
    align-items: center;
    margin-left: 40%;
    margin-top: 20%;

}

