.signUpPage{
    background-image: url("/public/img/login.png");
    height: 100vh;
    background-size: cover;
}

.SignUpPage2{
    background: rgba(255, 255, 255, 0.13);
  color: #fff;
  position: absolute;
  margin: auto;
  align-items: center;
  margin-left: 40%;
  margin-top: 15%;
  border-radius: 10px;
}

.signUpTitle{
margin-top: 40px;
  display: inline-block;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.signUp-form{
    position: relative;
  margin: 0 auto 0;
  width: 285px;
  padding: 25px 25px;
}

.signupTableItem{
    padding: 10px;
    color:white;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    border-radius: 20px;
    text-align: end;
}


.submitInput{
    height: 30px;
    width: 250px;
}

.checkBtn{
    height: 30px;
    width: 100px;
}

.submitBtn{
    height: 50px;
    width: 300px;
    padding-top: 40px;
}

.css-zcbmsk-MuiButtonBase-root-MuiButton-root {
    margin-top:30px !important;
}

.signupbtn{
    float:right;
    padding-right: 20px;
    padding-top:15px;
}

.SignupField{
    color: white !important;
}

.hometext{
    margin-top: 40px;
  display: inline-block;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.SignupField{
    margin-top: 20px !important;
    color: white !important;
}